div {
	background: steelblue;
	color: white;
	border: black 1px;
	height: 10rem;
	width: 30rem;
}
body {
	background: #EAEAEA;
	font-family: 'Lucida Grande', 'Helvetica', 'Arial', SansSerif;
}
h1 {
	font-size: 20px;
}
p {
	font-size: 14px;
	font-weight: bold;
}